.col-lg-5.col-lg-offset-3
  %h1 Recent polls:
  - @polls.each do |p|
    .well
      %h3
        = link_to p.name, poll_path(p)
        %small
          started by
          = p.user.username if p.user
